*{ 
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */

}
body{ 
    /* min-height: 100vh; */
    background-color:white;
    /* the style to put a background image

    background-image: url(image.jpg);
    background-size:cover;
    background-repeat: no repeat;
    background-position: center; 
    
    */

    font-family: cursive;

}
html{
    scroll-behavior: smooth;
}
.gallery-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.gallery-item{
    margin: 10px;
    overflow: hidden;
    border: 1px solid #ddd;

}
.gallery-item img{
    width: 240px;
    height: 240px;
    display: block;


}
.bg-brown{
    background-color: rgb(166, 71, 71);
}
.navbar-nav li a{
    color:rgb(197, 179, 78);
}
/* nav{ 
    background-color: rgb(166, 71, 71);
    box-shadow: 3px,3px,5px rgba(0,0,0,0.1);
}
nav.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; */
/* } */
.mt{
    margin-top: 8rem;
}
.svg{ 
    fill: rgb(241, 206, 8);
    
}

/* nav.scrolled {
    background-color: rgba(166, 71, 71, 0.9); /* Adjust the color as needed */
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */
/* } */

/* .logo-img{ 
   margin-right: auto;
}/

/* nav ul{ 
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{ 
    height: 50px;

}
nav a{ 
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:rgb(197, 179, 78);
}
nav a:hover{ 
    background-color: brown;
    color:rgb(197, 179, 78) ;

} */


/* .sidebar{ 
    /* position: fixed; */
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* height: 100vh; */
    /* width: 250px; */
    /* width: 50%; */
    /* z-index: 999;
    background-color: rgba(11, 10, 10, 0.84);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1); */
    /* display: none; */
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; */
    /*New*/
    /* margin-left: -500px;
/*  
 }
 /*  
/* .sidebar li{ 
    width: 100%;

}
.sidebar a{ 
    width: 100%; */  */
/* } */
/* .menu-button{ 
    display: none;
} */



/* using media querie to make the navigation responsive */




/* styling section1 (Albert Einstein biography)*/

.section1{ 
    
    padding: 40px;
    margin-bottom: 50px;
    border-bottom: 3px solid burlywood;
}

.Bio h2{ 
    font-family: sans-serif;
    color: rgb(216, 188, 30);
    margin-top: 10px;
    margin-left: 45px;
    margin-bottom: 10px;
    
}




.bio-text{ 
    
    text-align: center;
    
   
}


/* styling section2 (Research and inventions)*/
h2{ 
    color:rgb(216, 188, 30) ;
    font-size: 3em;
    font-family: serif;
    margin-bottom: 40px;
    /* margin-left: 50px; */
}
.section-2 p{ 
    /* padding: 50px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* margin-bottom: 30px; */
}
.research-1 h3{ 
    font-family: serif; 
    font-size: 1.5em;
    color: rgb(202, 119, 119);
    text-align: center;
    margin-bottom: 20px;
}
.research-1-content{ 
    /* display: flex; */
    /* padding: 80px; */
    background-color: rgba(254, 254, 102, 0.185);
    /* width: auto; */
   
   
    border-radius: 5px;
    margin-bottom: 30px;
   
}.research-1-content img{ 
    width: 100%;
    border-radius: 10px;
  
}
.text-justify{
    text-align: justify;
}
.research-2 h3{ 
    font-family: serif; 
    font-size: 1.5em;
    color: gray;
    text-align: center;
    margin-bottom: 20px;
}
.research-2-content{ 
    display: flex;
    padding: 50px;
    background-color: rgba(254, 254, 102, 0.185);
    width: auto;
   
   
    border-radius: 5px;
   
}.research-2-content img{ 
    width: 300px;
    border-radius: 10px;
  
}
.research-3 h3{ 
    font-family: serif; 
    font-size: 1.5em;
    color:rgb(35, 35, 168);
    text-align: center;
    margin-bottom: 20px;
}
.research-3-content{ 
    display: flex;
    padding: 50px;
    background-color: rgba(254, 254, 102, 0.185);
    width: auto;
   
   
    border-radius: 5px;
   
}.research-3-content img{ 
    width: 300px;
    border-radius: 10px;
  
}





/* styling section-3 (Awards and honors)*/
.section-3 h2{ 
    color:rgb(216, 188, 30) ;
    font-size: 3em;
    font-family: serif;
    /* margin-left: 50px; */
   
}
.section-3 p{ 
    /* padding: 50px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
}






/*  */
.background-container {
    
    position: relative;
    width: 100%;
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow to prevent blur from leaking */
    margin-bottom: 100px;
    
  }
  
  .background-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    filter: blur(2px);
    
    transition: filter 0.5s ease; /* Transition effect */
  }
  
  /* Text style */
  .text-on-image {
    position: absolute;
    color: white; /* Text color */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    text-align: center;
    transition: color 0.5s ease; /* Transition effect */
  }

  /* Hover effect */
  .background-container:hover img {
    filter: blur(0); /* Remove blur on hover */
  }

  .background-container:hover .text-on-image {
    color: black; /* Change text color on hover */
  }


  .medal h4{ 
    text-align: center;
    color: rgb(209, 212, 16);
    font-size: 2em;
  }
 .medal-content{ 
    background-color: rgb(166, 71, 71);
 }
 .medal-collaps img{ 
    padding: 30px;
    
}
.medal-collaps{
    padding: 50px; 
    
  
}
.section-2 p{
text-align: justify;
}

@media(max-width:800px){
    /* body{
        /* background-color: red; */
    /* }  */ 
    .hideOnMobile{ 
        display: none;
    }
    /* .menu-button{ 
        display: block;
    } */
    .section1{
        padding: 10px;
    }
    /* img{
        width: 100%;
        
    } */
}


@media(max-width: 1024px){ 
    /* .sidebar{ 
        width: 100%;
    } */
    .bio-text{ 
        
        
        padding: 70px;
    }
    /* nav{ 
        width: 100%;
    } */
    .bio-text img{ 
        width: 250px;
        height: 190px;
    }
    .bio-text p{ 
        font-size: 10px;
        
    }
    .Bio h2{ 
        font-size: xx-large;
        margin-left: 45px;

        
    }
    .section-2 h2{ 

        font-size: 3em;
        
    }
    
    .section-2 p{ 
        font-size: 1em;
        
    }
    
    .research-1-content{ 
        
       
        flex-direction: column;
        width: auto;
        align-items: center;
        padding: 5px;
        height: auto;
        font-size: 1.1em;
    
    }
    .research-2-content{ 
        
       
        flex-direction: column;
        width: auto;
        align-items: center;
        padding: 5px;
        height: auto;
        font-size: 1.1em;
    
    }
    .research-3-content{ 
        
       
        flex-direction: column;
        width: auto;
        align-items: center;
        padding: 5px;
        height: auto;
        font-size: 1.1em;
    
    }
    .section-3 h2{ 
    
        font-size: 3em;
        
    }
    
    .section-3 p{ 
        font-size: 1em;
        
    }
    .medal-collaps img{ 
        padding: 30px;
        
    }
    .medal-collaps{
        padding: 50px; 
        
      
    }

    
    
}






